*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

td {
  height: 6rem;
  width: 14.286%;
  padding: 0 !important;
  cursor: pointer;
}

.calendar-cell-number {
  padding: 5px;
}

.today-cell {
  background-color: lightblue;
}

.calendar-event {
  width: 0;
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
}

.calendar-event:hover {
  text-decoration: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.control-overflow {
  overflow: auto;
  max-height: 95vh;
}
